<header class="detail-header">
    <h2>About Emacs Themes Site</h2>
    <p class="subhead">A curated directory of the best themes for the world's most extensible editor.</p>
</header>

<div class="content about-page">
    <p>This tries to be a comprehensive resource for those interested in Emacs themes. It is a collection of popular and underground, old and new <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Custom-Themes.html">Emacs Themes.</a>
    </p>

    <p>If you want to add you own theme go to <a href="{{GITHUB_URL}}">GitHub</a>. But if you find it hard to do it just <a href="mailto:vlad.piersec@protonmail.com">email me</a>.
    </p>

    <h3 class="tip">Tip!</h3>
    <p>I don’t have the time and energy to list all the themes but if you want your theme to be listed or have any suggestions/thoughts regarding the site, <a href="mailto:vlad.piersec@protonmail.com">email me</a>!</p>
</div>
