<header class="detail-header">
  <h2>About Emacs Themes Site</h2>
  <p class="subhead">
    A curated directory of the best themes for the world's most extensible editor.
  </p>
</header>

<div class="content about-page">
  <p>
    This tries to be a comprehensive resource for those interested in Emacs themes. It is a
    collection of popular and underground, old and new
    <a href="https://www.gnu.org/software/emacs/manual/html_node/emacs/Custom-Themes.html"
      >Emacs Themes.</a
    >
  </p>

  <p>
    Want to see your theme here? You can add it yourself via <a href="{{GITHUB_URL}}">GitHub</a>, or
    if you'd prefer, just <a href="mailto:vlad.piersec@protonmail.com">email me</a> with your theme
    details or any suggestions/thoughts regarding the site!
  </p>
</div>
