/* Error Page Styles */

.error-page {
  padding: 2rem 0 4rem;
  text-align: center;

  & .actions {
    margin-top: 2rem;
  }
}

.error-graphic {
  margin-bottom: 3rem;

  & svg {
    display: block;
    margin: 0 auto;
  }
}

.error-message {
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}
