/* Error Page Styles */

.error-page {
  padding: 2rem 0 4rem;
  text-align: center;
}

.error-graphic {
  margin-bottom: 3rem;
}

.error-graphic svg {
  display: block;
  margin: 0 auto;
}

.error-message {
  max-width: 500px;
  margin-inline: auto;
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}

.error-page .actions {
  margin-top: 2rem;
}
